[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-silk = "==4.0.1"                                         # SQL profiling
django-debug-toolbar = "*"                                      # unparallelled debugging in django
werkzeug = "*"                                                  # support for werkzeug debugger in runserver_plus
ipython = "*"                                                   # enhanced python shell
ipdb = "*"                                                      # ipython breakpoints
django-extensions = "*"                                         # Django Sugar for development

[packages]
django = "*"

[requires]
python_version = "3.8"
